<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <title>Airport management</title>
</head>
<body>

<div class="container">
    <div>
        <ul class="nav">
            <li class="nav-item">
                <a class="nav-link" href="/airports">Airports</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/flights">Flights</a>
            </li>
        </ul>
    </div>

    <h1>Airport management page</h1>

    <br/>

    <div class="row">
        <table>
            <thead>
            <tr>
                <th class="col-md-3"> City</th>
                <th class="col-md-3"> Code</th>
                <th class="col-md-2"></th>
            </tr>
            </thead>
            <tbody>
            <tr th:if="${airports.empty}">
                <td colspan="3"> No airports</td>
            </tr>
            <tr th:each="airport : ${airports}">
                <td class="col-md-3"><span th:text="${airport.city}"> City </span></td>
                <td class="col-md-3"><span th:text="${airport.cityCode}"> Code </span></td>
                <td class="col-md-2">
                    <form th:action="@{/airports/delete/{id}(id=${airport.id})}" th:object="${airport}" method="post">
                        <input type="hidden"/>
                        <button type="submit" name="removeRow">Delete</button>
                    </form>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <br/>

    <h2>Add airports</h2>

    <br/>

    <div class="row">
        <form action="#" th:action="@{/airports/create/}" th:object="${newAirport}" method="post">
            <span class="row">
                <label class="col-md-3">City:</label>
                <input class="col-md-6" type="text" th:field="*{city}"/>
            </span>
            <span class="row">
                <label class="col-md-3">Code:</label>
                <input class="col-md-6" type="text" th:field="*{cityCode}"/>
            </span>

            <br/>

            <span class="row">
                <input class="offset-md-9" type="submit" value="Submit"/>
            </span>
        </form>
    </div>
</div>

</body>
</html>