<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <title>Flight management</title>
</head>
<body>

<div class="container">
    <div>
        <ul class="nav">
            <li class="nav-item">
                <a class="nav-link" href="/airports">Airports</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/flights">Flights</a>
            </li>
        </ul>
    </div>

    <h1>Airport management page</h1>

    <br/>

    <div class="row">
        <table>
            <thead>
            <tr>
                <th class="col-md-3">Number</th>
                <th class="col-md-4">Departure</th>
                <th class="col-md-4">Arrival</th>
                <th class="col-md-2"></th>
            </tr>
            </thead>
            <tbody>
            <tr th:if="${flights.empty}">
                <td colspan="3"> No airports</td>
            </tr>
            <tr th:each="flight : ${flights}">
                <td class="col-md-3"><span th:text="${flight.flightNumber}">Number</span></td>
                <td class="col-md-4"><span th:text="${flight.departureAirport.city}">Departure</span></td>
                <td class="col-md-4"><span th:text="${flight.arrivalAirport.city}">Arrival</span></td>
                <td class="col-md-2">
                    <form th:action="@{/flights/delete/{id}(id=${flight.id})}" th:object="${flight}" method="post">
                        <input type="hidden"/>
                        <button type="submit" name="removeRow">Delete</button>
                    </form>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <br/>

    <h2>Add flights</h2>

    <br/>

    <div class="row">
        <form action="#" th:action="@{/flights/create/}" th:object="${newFlight}" method="post">
            <span class="row">
                <label class="col-md-4">Number:</label>
                <input class="col-md-7" type="text" th:field="*{flightNumber}"/>
            </span>

            <span class="row">
                 <label class="col-md-4">Departure</label>

                 <select  class="col-md-7" th:field="*{departureAirport.id}">
                    <option th:each="airport : ${airports}"
                            th:value="${airport.id}"
                            th:text="${airport.city}">
                    </option>
                </select>
            </span>

            <span class="row">
                 <label class="col-md-4">Arrival</label>

                 <select  class="col-md-7" th:field="*{arrivalAirport.id}">
                    <option th:each="airport : ${airports}"
                            th:value="${airport.id}"
                            th:text="${airport.city}">
                    </option>
                </select>
            </span>

            <br/>

            <span class="row">
                <input class="offset-md-9" type="submit" value="Submit"/>
            </span>
        </form>
    </div>
</div>
</body>
</html>